<div class="row">
    <div class="col-md-6">
        <h2>Artikler<span class="badge">{{articles.length}}</span></h2>
    </div>
    <div class="col-md-6" style="margin-top:18px;text-align:right">
        <div style="margin-right:20px;">
            <span class="add-on"><i class="glyphicon glyphicon-search"></i></span>
            <input type="text" ng-model="searchKey" placeholder="Søk">
        </div>
    </div>
</div>

<div ng-show="isAdmin" class="float-right-middle">
    <button type="button" class="btn btn-primary float-button" ng-click="compose()">Slå sammen</button>
</div>

<div class="row">
    <div class="col-sm-6 col-md-3" ng-repeat="article in articles | filter: searchKey | orderBy: 'updateTime': true">
        <div class="thumbnail" style="height:300px;width:200px;background-color:#e6e6e6">
            <div style="height:200px;width:200px">
                <img src="{{article.imgUrl}}" alt="..." height=200 width=190>
            </div>
            <div class="caption" style="height:100px;width:200px">
                <div  ng-show="isAdmin">
                    <input type="checkbox" ng-click="changeSelectedArticles(article._id)"> Velg til å skape hendelse
                </div>
                <p><a href="{{article.link}}" target="_blank">{{article.content}}</a></p>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="eventName.html">
    <div class="modal-header">
        <h3 class="modal-title" style="color:black;">Ny hendelse</h3>
    </div>
    <div class="modal-body">
        Navn: <input ng-model="eventName"></input>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-disable="!eventName" ng-click="ok()" ng-disabled="!eventName">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>